/* PurchaseOrder.css */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Inter:wght@400;600;700&display=swap");
html {
  font-family: Inter, monospace;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  padding: 8px 16px;
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 300px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form > div {
  margin-top: 10px;
}

.qr-container {
  margin-top: 20px;
}

.qr-code-container {
  margin-top: 10px;
  text-align: center;
}

button[type="submit"],
button[type="button"] {
  margin-right: 10px;
}

/*For Purchase Order Main */
.purchase-order-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.purchase-order-submain {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  row-gap: 10px;
  margin-right: 10em;
}

.purchase-order-submain1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.your-purchase {
  font-size: 25px;
  font-weight: 500;
}
.purchase-information {
  font-size: 12px;
  font-weight: 200;
}

.purchase-order-submain2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
  min-width: 750px;
}
.purchase-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  cursor: pointer;
  align-self: start;
  border-style: solid;
  border-width: 1px;
  border-color: #b8e7ff;
}
.purchase-container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.title-purchase {
  color: #454545;
  font-size: 14px;
}
.title-purchase-with-check {
  color: #00771e;

  background-color: #b7ffc9;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.check-purchase {
  height: 15px;
  width: 15px;
}

.purchase-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  column-gap: 30px;
}
.paginating-purchase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.tracking-numbers-purchase {
  margin-bottom: 10px;
  color: #4f4f4f;
}

/* Delivery Tracker */

.container-admin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.section-admin,
.section-back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-back {
  background-color: #146c94;
  color: white;
  border-radius: 30px;
  border-width: 1px;
  border-style: none;
  padding: 10px 10px;
  cursor: pointer;
}
.side-line {
  border-left: 3px solid #00b2a9;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 45px;
  padding-left: -15px;
  padding-top: 10px;
}
.side-lines {
  border-right: 3px solid #00b2a9;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 45px;
  padding-right: -15px;
  padding-top: 10px;
  margin-right: 8px;
}
.admin-controller {
  font-size: 20px;
  font-weight: 600;
}
.arrow-back {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
.back {
  font-size: 15px;
  font-weight: 300;
}
.delivery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  column-gap: 250px;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 10px;
}
.delivery-container-1,
.delivery-container-2,
.delivery-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle-green {
  background-color: #00b2a9;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pickup {
  font-weight: 300;
}
.delivery-container-2,
.delivery-container-3 {
  position: relative;
}
.line-green {
  position: absolute;
  width: 325px;
  height: 5px;
  background-color: #00b2a9;
  bottom: 31.5px;
  right: 29px;
}
.delivery-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-delivery {
  z-index: 1;
  color: #0c3041;
}
.line-green-2 {
  position: absolute;
  width: 325px;
  height: 5px;
  background-color: #00b2a9;
  bottom: 38px;
  right: 29px;
}
.delivery-progress-rep {
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: #616161;
}
.travel-history-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: white;

  padding: 18px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.travel-history-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
.delivery-status-main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  border: 2px solid rgb(137, 195, 252);
  border-radius: 10px;
  padding: 18px;
  flex: 1;
}
.trackingNum {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(54, 158, 255);
  padding: 10px;

  margin-bottom: 3.5px;
  color: #505050;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  font-size: 14px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 5px;

  position: relative;
}
.trackingNum:hover {
  color: rgb(54, 158, 255);
  background-color: #dddddd;
  border-color: #dddddd;
}
.notif-circle {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #08a7e5;
  position: absolute;

  top: 1px;
  right: 1px;
}
.delivery-received-box {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 15px;
}
.travel-history-sub-container-1 {
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
}
.delivery-status-text {
  font-size: 20px;
  color: #595959;
  font-weight: 600;
  margin-bottom: 16px;
}
.delivery-received {
  font-size: 12px;
  padding: 5px;
  background-color: rgb(220, 255, 220);
  color: green;
  border-radius: 8px;
}
.date-time-delivered {
  color: #595959;
  font-size: 13px;
}
.tracking-delivery-container,
.project-delivered-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 18px;
}
.tracking-title {
  font-size: 14px;
  color: #595959;
  font-weight: 600;
}
.tracking-value {
  padding: 5px;
  background-color: #b8e7ff;
  color: rgb(33, 119, 199);
  font-size: 12px;
  border-radius: 8px;
}
.project-name-delivered {
  font-size: 14px;
  color: #595959;
  font-weight: 600;
}
.delivered-where-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.where {
  font-size: 13px;
  color: #595959;
  text-decoration: underline;
  white-space: wrap;
}
/*Logistic Main*/
.logistic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  row-gap: 20px;
}
.logistic-main,
.logistic-main-sub1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.logistics {
  font-size: 35px;
}
.logistics-info {
  color: #727272;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;

  height: 80%;
  display: flex;
  flex-direction: row;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(189, 189, 189);
}
.tracking-numbers-container {
  max-height: 400px;
  overflow-y: auto;
}
.tracking-numbers-container-tablehead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.tracking-numbers-container-tablepagination {
  position: sticky;
  bottom: 0;
  background-color: #f5f5f5;
}
.AiFillCloseCircle {
  height: 25px;
  width: 25px;
  color: rgb(105, 170, 208);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 35px;
}
.AiFillCloseCircle:hover {
  color: rgb(121, 129, 133);
}

.purchase-order-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  row-gap: 10px;
  column-gap: 20px;
  margin-bottom: 20px;

  background-color: white;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.grid-item {
  border: 1px solid #146c94;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  color: #4f4f4f;
  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;
}
.grid-item:hover {
  background-color: #e9e9e9;
}
.purchase-order-input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 5px;
}
.purchase-order-input-container input {
  border-color: #146c94;
  height: 50px;
  font-size: 15px;
}
.comment-textarea {
  width: 100%;
  height: 75px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;

  border: 1px solid #146c94;
  border-radius: 5px;
  resize: vertical;
}
.purchase-order-input-container button {
  height: 45px;
}
.purchase-order-input-container-1 {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.purchase-order-input-subcontainer-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.scan-me {
  font-size: 20px;
  color: #ffffff;
  background-color: #e08181;

  padding: 5px 60px;
  border-radius: 10px;
}
.purchase-order-subbox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 10px;
  max-width: 40%;
}
.Project-details {
  font-size: 18px;
  font-weight: 700;
  font-family: "Arial Narrow", Arial, sans-serif;
}
.Products-delivered {
  font-size: 20px;
  font-weight: 700;
  font-family: "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
  .purchase-order-box {
    padding-top: 15px;
    flex-direction: column;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .purchase-order-input-container input,
  .comment-textarea {
    font-size: 13px;
  }

  .purchase-order-input-container input {
    height: 40px;
  }

  .comment-textarea {
    height: 60px;
  }

  .purchase-order-input-container button {
    max-height: 100%;
  }
  .scan-me {
    font-size: 20px;
    color: #ffffff;
    background-color: #e08181;
    padding: 5px;
    border-radius: 10px;
  }

  .qr-code {
    width: 100%;
    max-width: 256px;
  }
  .table-container {
    min-width: 500px;
  }
}
/* PurchaseOrder.css */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Inter:wght@400;600;700&display=swap");
html {
  font-family: Inter, monospace;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  padding: 8px 16px;
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 300px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form > div {
  margin-top: 10px;
}

.qr-container {
  margin-top: 20px;
}

.qr-code-container {
  margin-top: 10px;
  text-align: center;
}

button[type="submit"],
button[type="button"] {
  margin-right: 10px;
}

/*For Purchase Order Main */
.purchase-order-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.purchase-order-submain {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  row-gap: 10px;
}

.purchase-order-submain1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.your-purchase {
  font-size: 25px;
  font-weight: 500;
}
.purchase-information {
  font-size: 12px;
  font-weight: 200;
}

.purchase-order-submain2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
}
.purchase-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  cursor: pointer;
  align-self: start;
  border-style: solid;
  border-width: 1px;
  border-color: #b8e7ff;
}
.purchase-container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.check-purchase {
  height: 15px;
  width: 15px;
}

.purchase-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  column-gap: 30px;
}
.paginating-purchase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.tracking-numbers-purchase {
  margin-bottom: 10px;
  color: #4f4f4f;
}
.search-input-track {
  border-radius: 4px;
  border-color: #b8e7ff;
  padding: 6px;
  width: 100%;
  margin-bottom: 5px;
}
.purchase-order-side-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;

  background-color: white;
  padding: 10px;
  min-width: 25%;
  max-width: 80px;
  width: 25%;
  max-height: 500px;
  min-height: 500px;
  overflow-y: auto;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Stack the CircularProgress and Typography vertically */
  justify-content: center;
  align-items: center;

  z-index: 9999;
}
.loading-box-mid {
  padding: 15px;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.progress-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

/* Delivery Tracker */

.container-admin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.section-admin,
.section-back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-back {
  background-color: #146c94;
  color: white;
  border-radius: 30px;
  border-width: 1px;
  border-style: none;
  padding: 10px 10px;
  cursor: pointer;
}
.side-line {
  border-left: 3px solid #00b2a9;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 45px;
  padding-left: -15px;
  padding-top: 10px;
}
.side-lines {
  border-right: 3px solid #00b2a9;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 45px;
  padding-right: -15px;
  padding-top: 10px;
  margin-right: 8px;
}
.admin-controller {
  font-size: 20px;
  font-weight: 600;
}
.arrow-back {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
.back {
  font-size: 15px;
  font-weight: 300;
}
.delivery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  column-gap: 250px;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 10px;
}
.delivery-container-1,
.delivery-container-2,
.delivery-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle-green {
  background-color: #00b2a9;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pickup {
  font-weight: 300;
}
.delivery-container-2,
.delivery-container-3 {
  position: relative;
}

.delivery-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-delivery {
  z-index: 1;
  color: #0c3041;
}

.delivery-progress-rep {
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: #616161;
}
.travel-history-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: white;

  padding: 18px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.travel-history-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
.delivery-status-main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  border: 2px solid rgb(137, 195, 252);
  border-radius: 10px;
  padding: 18px;
  flex: 1;
}

.delivery-received-box {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 15px;
}
.travel-history-sub-container-1 {
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
}
.delivery-status-text {
  font-size: 20px;
  color: #595959;
  font-weight: 600;
  margin-bottom: 16px;
}
.delivery-received {
  font-size: 12px;
  padding: 5px;
  background-color: rgb(220, 255, 220);
  color: green;
  border-radius: 8px;
}
.date-time-delivered {
  color: #595959;
  font-size: 13px;
}
.tracking-delivery-container,
.project-delivered-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 18px;
}
.tracking-title {
  font-size: 14px;
  color: #595959;
  font-weight: 600;
}
.tracking-value {
  padding: 5px;
  background-color: #b8e7ff;
  color: rgb(33, 119, 199);
  font-size: 12px;
  border-radius: 8px;
}
.project-name-delivered {
  font-size: 14px;
  color: #595959;
  font-weight: 600;
}
.delivered-where-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.where {
  font-size: 13px;
  color: #595959;
  text-decoration: underline;
  white-space: wrap;
}
/*Logistic Main*/

.logistic-main,
.logistic-main-sub1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.logistics {
  font-size: 35px;
}
.logistics-info {
  color: #727272;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;

  height: 80%;
  display: flex;
  flex-direction: row;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(189, 189, 189);
}

.AiFillCloseCircle {
  height: 25px;
  width: 25px;
  color: rgb(105, 170, 208);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 35px;
}
.AiFillCloseCircle:hover {
  color: rgb(121, 129, 133);
}

.purchase-order-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  row-gap: 10px;
  column-gap: 20px;
  margin-bottom: 20px;

  background-color: white;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.grid-item {
  border: 1px solid #146c94;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  color: #4f4f4f;
  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;
}
.grid-item:hover {
  background-color: #e9e9e9;
}
.purchase-order-input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 5px;
}
.purchase-order-input-container input {
  border-color: #146c94;
  height: 50px;
  font-size: 15px;
}
.comment-textarea {
  width: 100%;
  height: 75px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;

  border: 1px solid #146c94;
  border-radius: 5px;
  resize: vertical;
}
.purchase-order-input-container button {
  height: 45px;
}
.purchase-order-input-container-1 {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.purchase-order-input-subcontainer-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.scan-me {
  font-size: 20px;
  color: #ffffff;
  background-color: #e08181;

  padding: 5px 60px;
  border-radius: 10px;
}
.purchase-order-subbox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 10px;
  max-width: 40%;
}
.Project-details {
  font-size: 18px;
  font-weight: 700;
  font-family: "Arial Narrow", Arial, sans-serif;
}
.Products-delivered {
  font-size: 20px;
  font-weight: 700;
  font-family: "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
  .purchase-order-box {
    padding-top: 15px;
    flex-direction: column;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .purchase-order-input-container input,
  .comment-textarea {
    font-size: 13px;
  }

  .purchase-order-input-container input {
    height: 40px;
  }

  .comment-textarea {
    height: 60px;
  }

  .purchase-order-input-container button {
    max-height: 100%;
  }
  .scan-me {
    font-size: 20px;
    color: #ffffff;
    background-color: #e08181;
    padding: 5px;
    border-radius: 10px;
  }

  .qr-code {
    width: 100%;
    max-width: 256px;
  }
  .table-container {
    min-width: 500px;
  }

  .status-contents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .status-contents-pdf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .modal-contents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  /* Add styles for valid input */
  .valid {
    border-color: green;
    /* Add any other styles for valid input */
  }

  /* Add styles for invalid input */
  .invalid {
    border-color: red;
    /* Add any other styles for invalid input */
  }

  .pdf-purchase-order-box-equip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    row-gap: 10px;
    column-gap: 20px;
    margin-bottom: 20px;

    background-color: white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  Modal pdf-status-content {
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;
  }

  .label {
    margin-right: 5px;
  }

  .comment-text-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Updated */
    margin-right: 10px; /* Added margin to create space between the elements */
  }
}
.tracking-numbers-container-margin {
  margin-right: 8px;
}
.location-pin-po {
  width: 15px;
  height: 15px;
}
.yes-delivery {
  color: rgb(72, 72, 255);
  text-decoration: underline;
  cursor: pointer;
}
.yes-delivery:hover {
  color: rgb(81, 81, 81);
}
.yes-box {
  background-color: rgb(216, 216, 216);
  padding: 8px;
  border-radius: 5px;
  width: 47%;
  margin-bottom: 8px;
}
.modal-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modal-container-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.modal-box-logistic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
